<header class="navbar navbar-fixed-top navbar-inverse"> <div class="container">
<%= link_to "sample app", '#', id: "logo" %> <nav>
<ul class="nav navbar-nav navbar-right">
  <%= link_to "Home", root_path %>
  <%= link_to "Help", help_path %>
  <%= link_to "Contact", contact_path %>
  <li><%= link_to "Log in", '#' %></li>
</ul> </nav>
</div> </header>